<div class="row">
    <div class="col-xs-12 col-lg-8 col-sm-6 col-md-4 offset-sm-1 offset-md-2">
        <form (ngSubmit) = "onSignin()" #signinForm = "ngForm">
            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="text" class = "form-control" name = "email" ngModel>
            </div>
        
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password"  class = "form-control"name = "password" ngModel>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
          </form>
    </div>
    
  </div>